<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Madmaps</title> 
    <link rel="stylesheet" type="text/css" href="../public/style.css">
  </head>

  <body>
  <div id="enterData">
    <input type="text" name="username" id="username" placeholder="Your Name?"></input>
    <input type="text" name="netID" id="netID" placeholder="Your netID?"></input>
    <input type="text" name="travelGPA" id="tGPA" placeholder="Your travel GPA?"></input>
    <button id="submitBtn">Calculate</button>
  </div>
  <div id="getAllData">
    <button id="getAllBtn">Get NYUAD Map</button>
    <p id="overallGPA"></p>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="main.js"></script>
  </body>
</html>
