<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title> NYUAD Travel Offset  </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/nyuadmap.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Facebook thumbnail -->
    <meta property="og:image" content="img/thumbnail.png"/>
    <meta property="og:image:secure_url" content="img/thumbnail.png" />
</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1> NYUAD Travel Offset </h1>
            <hr class="small">
            <h3> Calculating NYUAD's Travel Score </h3>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="small">
                    <br>
                    <p class="lead"> We are not telling you not to travel (#GNU). </p>
                    <br>
                    <p class="lead"> The purpose of <strong> NYUAD's Travel Map </strong> is to raise awareness about CO2 emissions, realize the environmental damage caused by flights, and find ways in which we can offset our carbon footprint together. </p>
                    <br>
                    <hr class="small">
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2> What can YOU do about it? </h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong> Discuss </strong>
                                </h4>
                                <p> Create awareness by talking about this issue with your friends. </p>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://madmaps.herokuapp.com/" class="btn btn-light" target='_blank'> Share </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-eye fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong> Alternatives </strong>
                                </h4>
                                <p> Try to be environmentally friendly to offset your flight footprint. </p>
                                <a href="http://e360.yale.edu/" class="btn btn-light" target='_blank'> Learn </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-money fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong> Donate </strong>
                                </h4>
                                <p> Consider donating to environmental causes. </p>
                                <a href="https://www.myclimate.org/carbon-offset-projects/" class="btn btn-light" target='_blank'> Donate </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flag fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong> Join </strong>
                                </h4>
                                <p> Get involved with environmental groups at NYUAD. </p>
                                <a href="https://goo.gl/forms/0htiwe8KUGjU6n6Z2" class="btn btn-light" target='_blank'> Sign Up </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong> NYUAD Travel Map</strong>
                    </h4>
                    <p>New York University
                        <br>Saadiyat Island, Abu Dhabi</p>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madmaps.herokuapp.com/" target="_blank" ><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/kiprask/madmaps" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; NYUAD Travel Map</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    </script>

</body>

</html>
